name: Go
on:
  push:
    tags:
    - 'v*'

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24.9'

    - name: Build
      run: GOOS=linux GOARCH=amd64 go build -o backblaze-personal-exporter && GOOS=windows GOARCH=amd64 go build -o backblaze-personal-exporter.exe
    - name: Release
      uses: softprops/action-gh-release@v2
      with:
        files: |
          backblaze-personal-exporter.exe
          backblaze-personal-exporter
